.navigation{
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 999;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navigation:hover,
.navigation.scrolled {
    background-color: #5d4e3c;
}

header a {
    color: #333;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 20px;
}

header:hover a,
header.scrolled a {
    color: #f8f8f8;
}

.navigation-link:hover > a {
    background-color: #5d4e3c;
    color: #f8f8f8;
}

.cont_ul {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
}

.dropdown:hover {
    background-color: #4c3d2b;
}

.dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.dropdown-menu > li {
    width: 180px;
    transform: translateX(-25px);
    border-bottom: solid 1px #fff;
    text-align: center;
    text-transform: initial;
    background-color: #5d4e3c;
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
}

.dropdown-menu > li:hover {
    background-color: #4c3d2b;
}

.dropdown:hover > .dropdown-menu{
    display: block;
}
.logo-nav-container{
    position: relative;
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
}
.logo-nav-container img {
    max-height: 45px;
}